<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="process">
            <h2><span>Process</span> {{ process.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Process Name</span></dt>
                <dd>
                    <span>{{ process.processName }}</span>
                </dd>
                <dt><span>Desc Process</span></dt>
                <dd>
                    <span>{{ process.descProcess }}</span>
                </dd>
                <dt><span>Application</span></dt>
                <dd>
                    <div *ngIf="process.application">
                        <a [routerLink]="['/application', process.application?.id, 'view']">{{ process.application?.appName }}</a>
                    </div>
                </dd>
                <dt><span>Server</span></dt>
                <dd>
                    <div *ngIf="process.server">
                        <a [routerLink]="['/server', process.server?.id, 'view']">{{ process.server?.serverName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/process', process.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
