<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="group">
            <h2><span>Group</span> {{ group.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Service Name</span></dt>
                <dd>
                    <span>{{ group.serviceName }}</span>
                </dd>
                <dt><span>Desc Service</span></dt>
                <dd>
                    <span>{{ group.descService }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/group', group.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
