<ion-header no-border translucent>
  <ion-toolbar>
    <ion-title class="ion-text-center">Exploitation Express</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar animated placeholder="Search" 
    showCancelButton="focus" [(ngModel)]="searchText"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let application of applications | appFilter:searchText" (click)="onSelect(application)">
      {{application.appName}}
    </ion-item>
  </ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" >
  <ion-fab-button (click)="onLogout()" color="danger">
  <ion-icon name="log-out-outline" ></ion-icon> 
 </ion-fab-button> 
</ion-fab>

</ion-content>
