<ion-content>
    <div class="main-div">  
        <ion-card>
            <ion-toolbar color="tertiary" class="ion-text-center">Login Page</ion-toolbar>

            <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" class="form">          
                <ion-input name="matricule" type="text" placeholder="Login" ngModel required></ion-input>
                             
                <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            
                <ion-button type="submit" [disabled]="form.invalid" expand="block" color="primary">Validate</ion-button>    
            </form>             
        </ion-card>
    </div>
</ion-content>