<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="command">
            <h2><span>Command</span> {{ command.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Command Name</span></dt>
                <dd>
                    <span>{{ command.commandName }}</span>
                </dd>
                <dt><span>Desc Command</span></dt>
                <dd>
                    <span>{{ command.descCommand }}</span>
                </dd>
                <dt><span>For Status</span></dt>
                <dd>
                    <span>{{ command.forStatus }}</span>
                </dd>
                <dt><span>Actions</span></dt>
                <dd>
                    <div *ngIf="command.actions">
                        <a [routerLink]="['/action', command.actions?.id, 'view']">{{ command.actions?.actionName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/command', command.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
