<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right" *ngIf="isLoggedIn$ | async" @fade>

        <!--<li class="dropdown" >
          <a routerLink="logs" class="dropdown-toggle" data-toggle="dropdown">
            <i class="ti-receipt"></i>
            <p>Audit</p>
          </a>
        </li>-->

        <li class="dropdown">
          <a href="/login" class="dropdown-toggle" data-toggle="dropdown" (click)="logout()">
            <i class="ti-power-off"></i>
            <p>Log out</p>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
